@model WebApp.ViewModels.Video.VideoWatchViewModel

@{
    ViewBag.Title = Title;
}

@if (VideoCanBeEmbedded)
{
    <a asp-action="Watch" asp-route-id="@Model.Video.Id" asp-route-embedView="@(!Model.EmbedView)">
        @(Model.EmbedView ? "Watch archived version" : $"Watch on {Model.Video.Platform}")
    </a>
}
<div>
    @if (ShowEmbedView)
    {
        <iframe width="560" height="315" src="@(Model.Video.EmbedUrl ?? Model.Video.Url)" title="@Model.Video.Platform video player" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    }
    else
    {
        <video controls width="560" height="315">
            <source src="/Video/VideoFile/@Model.Video.Id"/>
        </video>
    }
</div>

<h1>@Title</h1>

<div id="comments" hx-get="/Comment/VideoComments/@Model.Video.Id" hx-trigger="load">
    Loading comments...
</div>

@functions
{
    bool VideoCanBeEmbedded => Model.Video.EmbedUrl != null || Model.Video.Url != null;
    bool ShowEmbedView => Model.EmbedView && VideoCanBeEmbedded;
    string Title => Model.Video.Title?.FirstOrDefault()?.Content ?? "";
}
